@font-face {
    font-family: Gellisto;
    src: url("fonts/Gellisto.ttf");
}

body {
    background-color: #F1FAEE;
    font-family: Gellisto;
}

.header,
.main-content {
    margin-bottom: 50px;
}

.header {
    height: 10vh;
}

.page-title
 {
    font-size: 100px;
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    background-color: white;
    width: 90%;
    box-shadow: 1px 2px 3px #83987C;
    border-radius: 15px;
    border: 3px solid black;
    display: flex;
    padding: 25px 30px;
    box-sizing: border-box;
}

table {
    flex: auto;
    padding: 0px;
    border-collapse: collapse;
}

.header-row {
    border: 0px;
}

table tr {
    border-top: 1px solid black;
}

td, th {
    background-color: white;
    text-align: center;
    padding: 10px 0px;
    font-size: 20px;
}

.last-row-cell {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    font-family: Gellisto;
    padding: 20px;
    font-size: 30px; 
}

button:active {
    background-color: rgb(61, 61, 61);
    color: white;
    box-shadow: inset 2px 2px 3px black;
}

.book-option-btn {
    font-size: 16px;
    padding: 5px 10px;
}

dialog {
    height: 30vh;
    width: 25%;
}

form {
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 1fr;
    gap: 20px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
}

.input-container {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    & label {
        font-weight: bold;
        font-size: 16px;
    }

    & input,
    & select {
        height: 25px;
        font-size: 16px;
    }

    & input {
        padding: 0px;
    }

    & select {
        box-sizing: content-box;
    }
}

input:invalid {
    border: 1px solid red;
}

.form-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
}